* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.grid {
    width: 1000px;
    margin: 0 auto;
   /*  border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(148, 10, 51);
}

.box {
    width: calc(100% / 10);
    height: 100px;
    color: rgb(62, 242, 248);
    outline: 2px solid rgb(0, 103, 199);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
}

.even {
    background-color: brown;
}